// -----------------------------------------------
// COLOR SCHEME ----------------------------------
// -----------------------------------------------
// Base ------------------------------------------
$c-white: #ffffff;
// Green -----------------------------------------
$c-green-1: #306b43;
$c-green-2: #3a6340;
$c-green-3: #246c42;
$c-green-4: #0f2d17;
// Yellow ----------------------------------------
$c-yellow-1: #fed12a;
// Brown -----------------------------------------
$c-brown-1: #3d220f;
$c-brown-2: #472010;
// Pink ------------------------------------------
$c-pink-1: #d7424c;
$c-pink-2: #ff2c3d;
$c-pink-3: #dd0741;
$c-pink-4: #ff2e3d;
$c-pink-5: #ff6b74;
// Red -------------------------------------------
$c-red-1: #c53529;
// Blue ------------------------------------------
$c-blue-1: #011e3c;
$c-blue-2: #143158;

// -----------------------------------------------
// FTONS SCHEME ----------------------------------
// -----------------------------------------------
$f-futura-cond: 'Futura Std Cond', sans-serif;
$f-futura: 'Futura Std', sans-serif;

// -----------------------------------------------
// Z-INDEX SCHEME --------------------------------
// -----------------------------------------------
$z-lvl-0: 0;
$z-lvl-1: 1;
$z-lvl-2: 2;

// -----------------------------------------------
// MEDIA QUERIES SCHEME --------------------------
// -----------------------------------------------
$mq-xs: 'screen and (min-width: 480px)';
$mq-sm: 'screen and (min-width: 576px)';
$mq-md: 'screen and (min-width: 768px)';
$mq-lg: 'screen and (min-width: 1024px)';
$mq-xl: 'screen and (min-width: 1200px)';
$mq-xxl: 'screen and (min-width: 1440px)';