.experiences {
    padding: 0 0 15px;

    @media #{$mq-md} {
        padding-bottom: 75px;
    }

    .title {
        &:not(:last-child) {
            margin-bottom: 35px;

            @media #{$mq-lg} {
                margin-bottom: 52px;
            }
        }
    }

    .experience-carousel {
        max-width: 1080px;
        margin: 0 auto;

        &:not(:last-child) {
            margin-bottom: 27px;

            @media #{$mq-md} {
                margin-bottom: 45px;
            }
        }

        .card {
            width: 100%;
            max-width: 283px;
            height: 219px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border-radius: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            -webkit-box-shadow: 0px 20px 100px 0px rgba(15, 45, 23, 1);
            -moz-box-shadow: 0px 20px 100px 0px rgba(15, 45, 23, 1);
            box-shadow: 0px 20px 100px 0px rgba(15, 45, 23, 1);

            @media #{$mq-md} {
                max-width: 693px;
                height: 538px;
                -webkit-box-shadow: 0px 50px 100px 0px rgba(20, 49, 88, 0.5);
                -moz-box-shadow: 0px 50px 100px 0px rgba(20, 49, 88, 0.5);
                box-shadow: 0px 50px 100px 0px rgba(20, 49, 88, 0.5);
            }

            .card-title {
                margin-bottom: 20px;
                font-weight: 800;
                font-style: italic;
                font-size: 31.28px;
                line-height: 1.1;
                text-shadow: -2px 3px 1px $c-pink-2;
                color: $c-white;

                @media #{$mq-md} {
                    margin-bottom: 30px;
                    font-size: 76.46px;
                    text-shadow: -2.5px 3px 1px $c-pink-2;
                    letter-spacing: -1.5px;
                }

                .line {
                    display: inline-block;
                    margin-left: 14px;

                    @media #{$mq-md} {
                        margin-left: 34px;
                    }
                }

                .small {
                    font-size: 17.38px;

                    @media #{$mq-md} {
                        font-size: 42.48px;
                    }
                }

                .large {
                    font-size: 38.23px;

                    @media #{$mq-md} {
                        font-size: 93.45px;
                    }
                }
            }

            &.lucas-chumbo {
                background-image: url("../images/experience/lucas-chumbo.png");
            }

            &.flakes-power {
                background-image: url("../images/experience/flakes-power.png");
            }

            &.rafael-goberna {
                background-image: url("../images/experience/rafael-goberna.png");

                .card-title {
                    @media #{$mq-md} {
                        font-size: 64.46px;
                    }

                    .line {
                        margin-left: 8px;

                        @media #{$mq-md} {
                            margin-left: 34px;
                        }
                    }

                    .large {
                        font-size: 32px;

                        @media #{$mq-md} {
                            font-size: 80.45px;
                        }
                    }
                }
            }
        }

        // Carousel-3d custom styles
        .carousel-3d-container {
            margin-top: 0;
            margin-bottom: 0;
            overflow: visible;

            .carousel-3d-slider {
                transform-style: preserve-3d;
                perspective: 1000px !important;
            }

            .carousel-3d-slide {
                border: 0;
                background-color: transparent;
                transition: transform 500ms ease 0s, opacity 500ms ease 0s !important;
                overflow: visible;

                &:not(.current) {
                    opacity: 0.8 !important;
                }
            }

            .carousel-3d-controls {
                display: flex;
                justify-content: center;
                margin-top: -13px;

                @media #{$mq-md} {
                    margin-top: -31px;
                }

                .prev,
                .next {
                    display: block;
                    position: relative;
                    border-radius: 50%;
                    background-color: $c-pink-3;
                    opacity: 1;

                    &::before,
                    &::after {
                        content: "";
                        display: block;
                        width: 8px;
                        height: 2px;
                        border-radius: 4px;
                        position: absolute;
                        left: 8px;
                        background-color: $c-white;

                        @media #{$mq-md} {
                            width: 20px;
                            height: 4px;
                            left: 19px;
                        }
                    }

                    &::before {
                        top: 9px;
                        transform: rotate(-45deg);

                        @media #{$mq-md} {
                            top: 23px;
                        }
                    }

                    &::after {
                        top: 14px;
                        transform: rotate(45deg);

                        @media #{$mq-md} {
                            top: 35px;
                        }
                    }

                    span {
                        display: none;
                    }
                }

                .prev {
                    margin-right: 268px;

                    @media #{$mq-md} {
                        margin-right: 640px;
                    }

                    @media #{$mq-lg} {
                        margin-right: 835px;
                    }
                }

                .next {
                    transform: rotate(180deg);
                }
            }
        }

        .bullets {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 17px;

            @media #{$mq-md} {
                margin-top: 45px;
            }

            button {
                width: 8px;
                height: 8px;
                border: 2px solid $c-pink-3;
                border-radius: 50%;
                background-color: transparent;

                @media #{$mq-md} {
                    width: 13px;
                    height: 13px;
                }

                &:not(:last-child) {
                    margin-right: 7px;

                    @media #{$mq-md} {
                        margin-right: 10px;
                    }
                }

                &.active {
                    background-color: $c-pink-3;
                }
            }
        }
    }

    .experiences-anchor {
        .sub-title {
            font-size: 16.67px;

            @media #{$mq-md} {
                font-size: 26.02px;
            }
        }

        .arrow {
            position: relative;
            width: 16px;
            height: 13px;
            margin: 28px auto 0;

            @media #{$mq-md} {
                width: 32px;
                height: 18px;
                margin-top: 49px;
            }

            &::before,
            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 2px;
                border-radius: 4px;
                position: absolute;
                top: 6px;
                background-color: $c-white;

                @media #{$mq-md} {
                    width: 20px;
                    height: 4px;
                }
            }

            &::before {
                left: 0;
                transform: rotate(45deg);
            }

            &::after {
                right: 0;
                transform: rotate(-45deg);
            }
        }
    }
}
