.quest {
    padding: 15px 0;

    @media #{$mq-md} {
        padding: 75px 0;
    }

    .title {
        &:not(:last-child) {
            margin-bottom: 25px;

            @media #{$mq-md} {
                margin-bottom: 54px;
            }
        }
    }

    .form {
        max-width: 360px;
        padding: 0 20px;
        margin: 0 auto;

        @media #{$mq-md} {
            max-width: 630px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @media #{$mq-md} {
                margin-bottom: 24px;
            }
        }

        .form-box {
            padding: 17px 22px 26px;
            border-radius: 30px;
            background-color: $c-pink-2;
            -webkit-box-shadow: 0px 50px 100px 0px rgba(20, 49, 88, 1);
            -moz-box-shadow: 0px 50px 100px 0px rgba(20, 49, 88, 1);
            box-shadow: 0px 50px 100px 0px rgba(20, 49, 88, 1);

            @media #{$mq-md} {
                padding: 42px 40px 28px;
            }
        }

        .form-title {
            font-family: $f-futura;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
            color: $c-white;

            @media #{$mq-md} {
                font-size: 30px;
            }

            &:not(:last-child) {
                margin-bottom: 14px;

                @media #{$mq-md} {
                    margin-bottom: 32px;
                }
            }

            br {
                display: none;

                @media #{$mq-md} {
                    display: initial;
                }
            }
        }

        .form-body {
            &:not(:last-child) {
                margin-bottom: 9px;

                @media #{$mq-md} {
                    margin-bottom: 18px;
                }
            }
        }

        .form-row {
            @media #{$mq-md} {
                display: flex;
            }

            &:not(:last-child) {
                margin-bottom: 6px;

                @media #{$mq-md} {
                    margin-bottom: 14px;
                }
            }
        }

        .form-control {
            width: 100%;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 6px;

                @media #{$mq-md} {
                    margin-bottom: 0;
                    margin-right: 6px;
                }
            }

            span {
                &.placeholder {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -8px;
                    margin-left: -32px;
                    z-index: 0;
                    font-family: $f-futura-cond;
                    font-weight: 500;
                    font-style: italic;
                    font-size: 16.67px;
                    color: $c-white;
                    opacity: 0.3;

                    @media #{$mq-md} {
                        margin-top: -15px;
                        margin-left: -52px;
                        font-size: 31.21px;
                    }
                }
            }

            .error {
                display: block;
                padding: 0 24px;
                margin-top: 4px;
                font-family: $f-futura;
                font-weight: 500;
                font-size: 12px;
                color: $c-white;

                @media #{$mq-md} {
                    font-size: 16px;
                }
            }
        }

        .input {
            box-sizing: border-box;
            width: 100%;
            height: 23px;
            padding: 0 14px;
            border: 1px solid $c-white;
            border-radius: 10.33px;
            font-family: $f-futura-cond;
            font-weight: 500;
            font-style: italic;
            font-size: 14.58px;
            color: $c-white;
            background: transparent;

            @media #{$mq-md} {
                height: 52px;
                padding: 0 26px;
                border-radius: 25.8px;
                font-size: 20.83px;
            }

            &.textarea {
                position: relative;
                height: 118px;
                padding: 14px;
                border-radius: 25.8px;
                z-index: 1;

                @media #{$mq-md} {
                    height: 150px;
                    padding: 26px;
                }

                &:focus ~ .placeholder,
                :valid ~ .placeholder {
                    display: none;
                }
            }
        }

        textarea {
            resize: none;
        }

        .form-terms {
            font-family: $f-futura;
            font-weight: 500;
            font-size: 9.07px;
            line-height: 1.2;
            color: $c-white;

            @media #{$mq-md} {
                font-size: 14.3px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;

                @media #{$mq-md} {
                    margin-bottom: 12px;
                }
            }

            p {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }

            a {
                color: $c-yellow-1;
            }
        }

        .form-action {
            text-align: center;
        }

        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-family: $f-futura-cond;
            font-weight: 500;
            font-style: italic;
            color: $c-white;
            opacity: 0.3;
        }
        ::-moz-placeholder {
            /* Firefox 19+ */
            font-family: $f-futura-cond;
            font-weight: 500;
            font-style: italic;
            color: $c-white;
            opacity: 0.3;
        }
        :-ms-input-placeholder {
            /* IE 10+ */
            font-family: $f-futura-cond;
            font-weight: 500;
            font-style: italic;
            color: $c-white;
            opacity: 0.3;
        }
        :-moz-placeholder {
            /* Firefox 18- */
            font-family: $f-futura-cond;
            font-weight: 500;
            font-style: italic;
            color: $c-white;
            opacity: 0.3;
        }
    }

    .arrow {
        position: relative;
        width: 16px;
        height: 13px;
        margin: 0 auto;

        @media #{$mq-md} {
            width: 32px;
            height: 18px;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            width: 10px;
            height: 2px;
            border-radius: 4px;
            position: absolute;
            top: 6px;
            background-color: $c-white;

            @media #{$mq-md} {
                width: 20px;
                height: 4px;
            }
        }

        &::before {
            left: 0;
            transform: rotate(45deg);
        }

        &::after {
            right: 0;
            transform: rotate(-45deg);
        }
    }
}
