main {
    overflow: hidden;
    background-color: $c-blue-1;
    background-image: url("../images/watermelon-hero-mobile.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1148px;

    @media #{$mq-md} {
        background-position: top -120px center;
    }

    @media #{$mq-lg} {
        background-image: url("../images/watermelon-hero-desktop.jpg");
        background-position: top center;
        background-size: 1920px;
    }
}